body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-image: url('../Images/Pathofexile2.jpg');
    background-size: cover; /* Fylder hele skærmen */
    background-repeat: no-repeat; /* Undgår gentagelse */
    background-position: center; /* Centrerer billedet */
    box-sizing: border-box;
    border-radius: 2em;
}
html {
    min-height: 100%;
    margin: 0;
}
h1 {
    color: whitesmoke;
    text-align: center;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-size: 36px;
}
p {
    font-family: "Red Hat Display", sans-serif;
    font-size: 22px;
}

.container {
display: flex;
gap: 5px;
width: 250px;
height: 70px;
background-color: rgba(0, 0, 0, 0.6); /* Sort, let gennemsigtig baggrund */
justify-content: center;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
border: 1px solid #333;
border-radius: 4px;
padding: 10px;
margin-top: 600px;   /* Flytter ned */
margin-left: 20px;  /* Flytter til højre */
}
/* Style box */
.box {
width: 70px;
height: 70px;
border-radius: 0px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: transform 0.2s ease;
}
.tooltip {
    visibility: hidden; /* Skjuler tooltip som standard */
    width: 120px; /* Bredde af tooltip */
    background-color: black; /* Baggrundsfarve */
    color: #fff; /* Tekstfarve */
    text-align: center; /* Centrering af tekst */
    border-radius: 5px; /* Rundede hjørner */
    padding: 5px; /* Indvendig polstring */
    position: absolute; /* Gør det muligt at placere tooltip */
    z-index: 1; /* Sørger for at tooltip er ovenfor andre elementer */
    bottom: 125%; /* Placerer tooltip over elementet */
    left: 50%; /* Centrerer tooltip horisontalt */
    margin-left: -60px; /* Justerer positionen for at centrere */
    opacity: 0; /* Gør tooltip usynlig */
    transition: opacity 0.3s; /* Tilføjer overgangseffekt */
}

.box:hover {
transform: scale(1.05);
}
.box:hover .tooltip {
    visibility: visible; /* Gør tooltip synlig ved hover */
    opacity: 1; /* Gør tooltip synlig */
}

/* Style img */
.box img {
width: 100%;
height: 100%;
object-fit: cover;
}

form {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 2px solid #333;
    border-radius: 5px 0 0 5px;
    background-color:#333;
    color: #fff;
    font-size: 16px;
  }
  
  button {
    padding: 8px 16px;
    background-color: #af4c4c;
    color: rgba(245, 245, 245, 0.534);
    border: 2px solid #333;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    width: 100px; /* Standard størrelse for miniaturebilleder */
    margin: 2px;
    cursor: pointer; /* Vis pointer ved hover */
    transition: transform 0.2s; /* Tilføj en overgangseffekt */
    display: flex;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Sort, let gennemsigtig baggrund */
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #333;
    padding: 10px;
    margin-top: 20px;   /* Flytter ned */
    margin-left: 20px;  /* Flytter til højre */
}
.thumbnail img {
    width: 100%; /* Billedet dækker hele thumbnailens bredde */
    height: 100%; /* Billedet dækker hele thumbnailens højde */
    object-fit: cover; /* Sørger for at billedet dækker uden at ændre aspektforholdet */
    display: block; /* Fjern mellemrum under billedet */
}
.thumbnail:hover {
    transform: scale(1.05); /* Forstørrelse ved hover */
}
.gallery:hover .tooltip {
    visibility: visible; /* Gør tooltip synlig ved hover */
    opacity: 1; /* Gør tooltip synlig */
}

.modal {
    display: none; /* Skjul modal som standard */
    position: fixed;
    z-index: 1000; /* Sæt modal ovenpå andet indhold */
    left: 0;
    top: 0;
    width: 100%; /* Fuldkornslængde */
    height: 100%; /* Fuldkornshøjde */
    overflow: auto; /* Tilføj rullefelt, hvis nødvendigt */
    background-color: rgba(0, 0, 0, 0.8); /* Halvtransparent baggrund */
}

.modal-content {
    margin: auto;
    display: block;
    width: 90%; /* Bredde af modalbilledet */
    max-width: 2000px; /* Maksimal bredde */
    height: auto; /* Automatisk højde */

}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}