body {
    background-image: url('../Images/Pathofexile2.jpg');
    background-repeat: no-repeat; /* Forhindrer gentagelse */
    min-height: 100vh; /* Fylder hele højden af viewport */
    background-position: center; /* Centrerer billedet */
    box-sizing: border-box;
    border-radius: 2em;
    overflow: hidden; /* Forhindrer scroll */
    background-size: cover; /* Dækker hele baggrunden */

}

html {
    min-height: 100%;
    margin: 0;
  }

h1 {
    color: whitesmoke;
    text-align: center;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-size: 36px;
}

h2 {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-size: 22px;
}

form {                  /* DETTE ER SEARCH BAR */
    display: flex; 
    position: fixed;
    top: 20px;
    right: 10px;
  }
  
  input[type="text"] {  /* DETTE ER SEARCH BAR */
    padding: 8px;
    width: 200px;
    border: 2px solid #333;
    border-radius: 5px 0 0 5px;
    background-color:#333;
    color: #fff;
    font-size: 16px;
  }
  
  button {              /* DETTE ER SEARCH BAR */
    padding: 8px 16px;
    background-color: #af4c4c;
    color: rgba(245, 245, 245, 0.534);
    border: 2px solid #333;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {        /* DETTE ER SEARCH BAR */
    background-color: #45a049;
  }

.sidebar {              /* SIDEBAR */
    width: 205px;
    background-color: rgba(44, 62, 80, 0.3); /* 0.8 = 80% opacitet */
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    top: 0;
  }
  
  .sidebar h2 {         /* SIDEBAR */
    text-align: center;
  }
  
  .sidebar ul {         /* SIDEBAR */
    list-style-type: none;
    padding: 0;
  }

  .fixed-items {
    flex: 0 0 auto; /* Sørger for, at faste elementer ikke vokser */
  }
  
.additional-items {
    margin-top: auto; /* Justerer margen over elementerne */
    margin-bottom: 48px; /* Sikrer, at de skubbes ned */
  }
  
  .menu-item {          /* SIDEBAR */
    display: flex;
    align-items: center;
    width: 100%;
    margin: 9px 0;
    color: white;
    text-decoration: none;
  }

  .menu-item .menu-icon {   /* SIDEBAR */
    width: 44px; /* Justér ikonen størrelse her */
    height: 44px;
    margin-right: 10px; /* Afstand mellem ikon og tekst */
  }

  
  
  .menu-item span {     /* SIDEBAR */
    font-size: 16px;
  }
  
  .menu-item:hover {    /* SIDEBAR */
    background-color: #34495e;
    border-radius: 4px;
    cursor: pointer;
  }

  
  .main-content {       /* SIDEBAR */
    margin-left: 220px; /* Tilpas efter sidebarens bredde */
    padding: 2px;
  }

  .menu-link {          /* SIDEBAR */
    display: flex;
    width: 100%;
    align-items: center;
    text-decoration: none; /* Fjern standard understregning */
    color: inherit; /* Arver tekstfarven fra forældrelementet */
  }

  .menu-item span {
    white-space: nowrap; /* Forhindrer teksten i at bryde linje */
    overflow: hidden; /* Skjuler overskydende tekst */
    text-overflow: ellipsis; /* Viser '...' når teksten er for lang */
    max-width: 150px; /* Sæt en maksimal bredde på elementet */
    display: block; /* Sørger for at det fungerer korrekt */
  }
  
  /* Modal-stil */
.modal {
  display: none; /* Gør modalen usynlig fra start */
  position: fixed;
  z-index: 100; /* Sørger for, at den ligger øverst */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Halvgennemsigtig sort baggrund */
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 80%; /* Justér størrelsen */
  margin-top: 10%;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

  .footer-text {
    position: fixed;
    bottom: 10px; /* Afstand fra bunden */
    right: 10px; /* Afstand fra højre */
    font-size: 12px; /* Juster størrelsen efter behov */
    color: #fff; /* Tekstfarve */
    background-color: rgba(44, 62, 80, 0.3); /* Baggrundsfarve med gennemsigtighed */
    padding: 5px 10px; /* Indvendig afstand */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 5px; /* Runde kanter */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Let skygge */
  }